
* {
 font-family: 'Lora', Serif;
}

/* img {
    border-radius: 50%;
    border-width: 5rem;
} */

body, html {
    height: 100%;
}

h1{
    font-size: 36pt;
    font-weight: 700;
}

h3{
    font-size: 16pt;
    font-weight: 700;
}

h5{
    font-size: 14pt;
    font-weight:700;
}

h6{
    font-size: 12pt;
}

span{
    font-size:11pt;
}

#spacer{
    height:150px;
}

.top-container{
    background-color: #ddf3f5;
    text-align: center;
    position: relative;
}

.header-img{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.time {
    text-decoration: underline;
    position: relative;
}

.line-break{
    color: #F87C68;
    height: 20px;
    border-bottom: 4px solid;
    width: 100%;
    margin-bottom:25px;
}

.btn-primary{
    border:none;
    background-color:#344779;
    margin-top:10px;
    margin-bottom:10px;
    position: absolute;
    top: 350px;
    right: 150px;
    width: 100px;
}
#green-gradient{
    background-image: linear-gradient(#FFFFFF, #67B586);
    height:140px;
    width:100%;
}

.logo{
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50px;
    width: 16rem;
    height: auto;
}

.slogan{
    top: 300px;
    right: 50px;
    font-family: 'Merriweather', serif;
    position: absolute;
    color: #fff;
}

.title{
    font-size: 5.625rem;
    top: 200px;
    right: 20px;
    font-family: 'Montserrat', verdana, sans-serif;
    color: #fff;
    position: absolute;
}

.navbar{
    background-color:#FFFFFF;
    border-bottom: 3px solid #344779;
}

.search-button{
    width:100%;
    margin:0;
}

.search-query{
    font-style: italic;
    text-decoration:underline;
    font-weight:400;
    margin:0;
}

.result-box{
    min-height: 50px;
    width: 100%;
    border: 1px solid #67B586;
    border-radius:5px;
    margin-top:15px;
    padding:20px;

}

.centered-img{
    display:block;
    margin:auto;
    width:75px;
    height:75px;
}

.chevron{
    width:20px;
    height:20px;
}

a{
    color:#212529;
}

.vertical_bottom {
    display: flex;
    align-items: bottom;
}




#gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
    }
#goodreads-widget .gr_branding{
    color: #382110;
    font-size: 11px;
    text-decoration: none;
    font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;
}
