{% extends "bootstrap/base.html" %}

{% block title %}
Friends for Friends
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div class="top-container">
    <img class="header-img" src="{{ url_for('static', filename='assets/titleheader.jpg') }}" alt="header-img">
    <img class="logo" src="{{ url_for('static', filename='assets/logo.png') }}" alt="friends_logo" height=75px
        width=75px />
    <h1 class="title">Friends for Friends</h1>
    <h2 class="slogan">One of the greatest gifts you could give is your time.</h2>
    <div class="row justify-content-center"><a class="btn btn-primary" href="{{url_for('login')}}" role="button">Log
            In</a></div>
</div>


{%endblock%}