{% extends "basicpage.html" %}


{% block navbar %}
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="{{url_for('my_matches')}}">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" width="30" height="30"
            class="d-inline-block align-top" alt="logo">
        Friends for Friends
    </a>
    <a class="navbar-link" href="{{url_for('my_matches')}}">
        My Matches
    </a>
    <a class="navbar-link" href="{{url_for('new_post')}}">
        New Post
    </a>
    <a class="navbar-link" href="{{url_for('my_postings')}}">
        My Postings
    </a>
</nav>
{% endblock %}

{% block custom_title %} <h2> My Postings </h2> {% endblock %}


{% block custom_content %}

<h4>Here are your current active posts that young adults will see! </h4>

{% for item in results %}

<div class="result-box">
    <div class="row align-items-center">
        <div class="col-2">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" class="centered-img" alt="book-icon">
        </div>
        <div class="col-6">
            <div><h3>{{ item[0] }}</h3></div>
            <div><h6>{{ item[1] }}</h6></div>
        </div>
        <div class="col-2">
            <div class="row"><a href="#"><button class="btn btn-primary">Edit</button></a></div>
        </div>
        <div class="col-2">
            <div class="row"><a href="#"><button class="btn btn-primary">Delete</button></a></div>
        </div>
    </div>
</div>

{% endfor %}




{% endblock %}